/* 页脚透明 */

#footer {
    background: transparent !important;
    color: #787878;!important;
}

/* 首页中间打字效果上方 */
#page-header #site_title {
    color: #80bdab;
}
/* 顶部导航栏 */
#nav a {
    color: #f9f2f4;
}
/*#web_bg {*/
/*  !* 背景图像的地址（url括号里）  *!*/
/*  background: url('https://cdn.jsdelivr.net/npm/kang-static@latest/avatar.jpg');*/
/*  !* 背景图像不重复 *!*/
/*  background-repeat: no-repeat;*/
/*  !* 背景图像大小 *!*/
/*  background-size: cover;*/
/*}*/
/* 滚动条 */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #92d7cd;
    background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #92d7cd;
}
#web_bg {
  background: -webkit-linear-gradient(
    0deg,
    rgba(247, 149, 51, 0.1) 0,
    rgba(243, 112, 85, 0.1) 15%,
    rgba(239, 78, 123, 0.1) 30%,
    rgba(161, 102, 171, 0.1) 44%,
    rgba(80, 115, 184, 0.1) 58%,
    rgba(16, 152, 173, 0.1) 72%,
    rgba(7, 179, 155, 0.1) 86%,
    rgba(109, 186, 130, 0.1) 100%
  );
}
/*页脚自定义字段字体颜色*/
/* 也就是配置文件里的footer_custom_text */
/*.footer_custom_text {*/
/*    color: #00c4b6;*/
/*}*/